<?xml version="1.0" encoding="UTF-8"?>
<!-- http://phpunit.de/manual/4.1/en/appendixes.configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd" backupGlobals="false" colors="true" bootstrap="bootstrap.php">
  <coverage processUncoveredFiles="true">
    <include>
      <directory>src</directory>
    </include>
    <exclude>
      <directory>./vendor/</directory>
      <directory>./tests/</directory>
    </exclude>
  </coverage>
  <php>
    <ini name="error_reporting" value="-1"/>
    <ini name="memory_limit" value="-1"/>
    <env name="APP_ENV" value="test"/>
    <env name="APP_DEBUG" value="1"/>
    <env name="ATOL_API_TEST_ATOL_LOGIN" value="v4-online-atol-ru"/>
    <env name="ATOL_API_TEST_ATOL_PASSWORD" value="iGFFuihss"/>
    <env name="ATOL_API_TEST_ATOL_GROUP_CODE" value="v4-online-atol-ru_4179"/>
  </php>
  <testsuites>
    <testsuite name="Library Unit Test Suite">
      <directory>tests/Unit</directory>
    </testsuite>
    <testsuite name="Library Functional Test Suite">
      <directory>tests/Functional</directory>
    </testsuite>
    <testsuite name="Library Integrational Test Suite">
      <directory>tests/Integrational</directory>
    </testsuite>
  </testsuites>
</phpunit>
